footer {
    background: #1E1E26;
    padding: 2rem 10vw;
}

footer a {
    color: white;
}

footer ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.links-container {
    width:50%;
    display: flex;
    justify-content: space-around;
}

.logos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logos img {
    align-self: flex-start;
}

.socials {
    display: flex;
    gap: .75rem;
}

.newsletter-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.newsletter-container p {
    color: #888;
}

footer form {
    display: flex;
    gap: .5rem;
}

footer form button {
    border: none;
    outline: none;
    background: var(--primary);
    color: white;
    padding: .75rem 2rem;
    border-radius: 50px;
    cursor: pointer;
}

footer form input {
    border: none;
    outline: none;
    border-radius: 50px;
    padding: 1rem 1.25rem;
}

/* large screens */

@media(min-width:1920px){
    footer{
        padding:2rem 15vw;
    }
}

@media(max-width:680px) {

    footer{
        padding: 2rem 1rem 10vw;
    }

    .footer-container{
        flex-direction: column-reverse;
    }

    .links-container{
        width:100%;
    }

    .newsletter-container p{
        display: none;
    }

    .newsletter-container{
        margin-bottom: 2rem;
    }

    .logos{
        flex-direction: column-reverse;
        align-items: center;
    }

    .logos img{
        align-self: center;
    }

    .socials{
        margin: 2rem 0rem;
        gap:1.25rem;
    }

}
