@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');

:root {
    --text: #202847;
    --primary: #F3603C;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Ubuntu', sans-serif;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
}

.overlay {
    display: none;
}

.body{
    overflow-x: hidden;
}

/* large screens */

@media(min-width:1920px){
    
}

/* mobile devices */

@media(max-width:680px) {
    .overlay {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        z-index: 555555555;
        position: fixed;
        min-height: 100vh;
        width: 100%;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.05));
        top: 0;
        transition: .5s;
    }

    .overlay.hidden {
        opacity: 0;
        visibility: hidden;
    }

    .overlay .mobile-list {
        background: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        padding: 2rem 1rem;
        width: 80%;
        margin-top: 5rem;
        border-radius: 5px;
    }

    .overlay .mobile-list li a {
        color: var(--text);
        font-weight: 500;
    }
}