@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');

:root{
    --text:#202847;
    --primary:#F3603C;
}

*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Ubuntu', sans-serif;
}

body{
    overflow-x: hidden;
}

.tablet{
    position:absolute;
    right:-10%;
    top:-30%;
    z-index: 0;
}