#simplify {
    background: var(--primary);
    background-image: url("../images/bg-simplify-section-desktop.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 115px;
    padding: 3rem 10vw;

}

#simplify .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#simplify h1 {
    color: white;
    font-size: 2rem;
    font-weight: 500;
}

#simplify button {
    z-index: 5;
    background: white;
    color: var(--primary);
    border-radius: 50px;
    padding: 1rem 2rem;
    border: none;
    outline: none;
    font-weight: 500;
    cursor: pointer;
}